.App {
  text-align: center;
}

.App-logo {
  width: 1000px;
}

.App-header {
  height: 300px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}