@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,600');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  margin: 0;
  padding: 0;
  font-size: 24pt;
  font-family: 'Oswald', sans-serif;
  color: #fff;
  background: rgb(0,0,0);
  background-color: rgb(0,0,23);
  background-image: url(./images/2020/assets/stars-bg.svg);
}

.content {
  margin-top: 90px;
}

#root {
  height: 100%;
}

h2 {
  margin: 15px 0;
}

a {
  color: rgb(255,153,0);
  text-decoration: none;
}

.oswald-light {
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  font-style: normal;
}

.oswald-bold {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.App {
  display: flex;
  flex-flow: row wrap;
}
.App > * {
  flex: 1 100%;
}


/* Medium screens */
@media all and (max-width: 699px) {
  /* Hide Sidbars */
  .sidebar { display: none; }
}

/* Large screens */
@media all and (min-width: 700px) {
  /* We invert order of first sidebar and main
   * And tell the main element to take 8x as much width as the other two sidebars
   */
  .sidebar { flex: 1 1px; display: block; }
  .content { flex: 8 0px; }
}

/* Animations */

@keyframes float {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }

  50% {
    transform: translateY(1rem);
    -webkit-transform: translateY(1rem);
  }

  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
}